{% extends "dashboard/base.html" %}

{% block menu_content %}
<h1 class="h2">Despesas</h1>
<div class="card mt-4">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                <!-- Listagem de despesas -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}